{% extends "base.html"%}
{% load url from future %}
{% block title %} - logowanie{% endblock %}
{% block content%}
<center>
<h2>Logowanie na blogu kulinarnym</h2>
Zaloguj się aby skomentować.
<p>
<div style="margin-left:45%;margin-right:45%;">
<fieldset>
    <form method="post" action=".">{% csrf_token %}
    <div style="text-align:left";>{{ form.as_p }}</div>
    <input type="hidden" name="next" value="/" />
    <input type="submit" value="Logowanie"/>    <input type="reset" value="Wartości domyślne"/>
    </form>
</fieldset>
</div>
<p><a href="{% url 'blog_list' %}">&larr; Strona główna</a></p></div> 
</center>
{% endblock %}
{% block footer %} {% endblock %}