{% extends "base.html"%}
{% load url from future %}
{% block title %} - rejestracja{% endblock %}   
{% block content %}
<center>
<h2>Rejestracja na blogu kulinarnym</h2>
Zarejestruj się aby skomentować.
<p>
<div style="margin-left:35%;margin-right:35%;">
<fieldset>
  <legend> Należy wypełnić wszystkie pola </legend>
    <form method="post" action=".">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Rejestracja">    <input type="reset" value="Wartości początkowe">
  </form>
</fieldset>
</div>
<p><a href="{% url 'blog_list' %}">&larr; Strona główna</a></p></div> 
</center>
{% endblock %}
{% block footer %} {% endblock %}