{% extends "base.html"%}
{% block title %} - rejestracja zakończona pomyśnie{% endblock %}
{% block header %}<h2><center>Zostałeś zarejestrowany, Twój login to: {{username}}</center></h2>{% endblock %}
{% block content%}
 <center><h3>Dziękujemy za rejestrację. Możesz się teraz <a href="/login/">zalogować</a> lub wrócić na <a href="/">stronę głównę</a>.</h3></center>
{% endblock %}