<!doctype html>
<BODY BGCOLOR="98FB98">
<html>
  <head>
    <title>Przepisy{% block title %}{% endblock %}</title>
    
    {% block external %}{% endblock %}
  </head>
  <body>
    {% block header %}
     <div id="nav">
      {% if user.is_authenticated %}
       Zalogowany użytkownik: <b>{{user.name}}</b>    <a href="/logout/">wyloguj się</a>    
      {% else %}
       <a href="/login/">zaloguj się</a>  |  nie masz konta? <a href="/register/">zarejestruj się</a>
      {% endif %}
     </div>
    {% endblock %}
    
    {% block content %}

    {% endblock %}
  </body>
</html>