{% extends "base.html" %}
{% load url from future %}
{% load comments %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
 <div style="text-align:center;">
   <font color = "4B0082"><h1>Witamy na blogu kulinarnym</h1></font>   
   <img src="media/ciastka.jpg" />
   <font color = "4B0082"><h1>*Ciasta i ciasteczka*</h1></font>
   <ul>
    {% for post in post_list %}
    <font size="5">
    <li><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></li>
    </font>
    <div><img WIDTH="350" HEIGHT="210" img class="profile_pic" src="{{ post.image.url }}" /></div>
    {% empty %}
    <li>Brak nowych postów, odwiedź nas później!</li>
    {% endfor %}
   </ul></div>
{% endblock %}
   