{% extends "base.html" %}
{% load url from future %}
{% load comments %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
 <div style="text-align:center;">
  <h2>{{ post.title }}</h2>
   {{ post.content|linebreaks }}
   <img class="profile_pic" src="{{ post.image.url }}" />
   <p>{{post.updated_at}}</p>
   
   {% if user.is_authenticated %} 
    {% render_comment_form for post %}
   {% else %}
    <a href="/login/">zaloguj się, jeśli chcesz skomentować</a>  |  nie masz konta? <a href="/register/">zarejestruj się</a>
   {% endif %}
   
   <h3>*Komentarze*</h3>
   {% render_comment_list for post %}
   
<p><a href="{% url 'blog_list' %}">&larr; Strona główna</a></p></div>
{% endblock %}

